{
    "presets": [
        "@babel/typescript",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-optional-chaining",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
    /*  "plugins": [
        "@babel/plugin-transform-runtime"
    ] */
}